openapi: 3.0.3
info:
  version: 1.1.4
  title: GitHub v3 REST API
  description: GitHub's v3 REST API.
  license:
    name: MIT
    url: https://spdx.org/licenses/MIT
  termsOfService: https://docs.github.com/articles/github-terms-of-service
  contact:
    name: Support
    url: https://support.github.com/contact?tags=dotcom-rest-api
  x-github-plan: api.github.com
servers:
- url: https://api.github.com
security:
- bearerAuth: []
paths:
  /orgs/{org}/teams:
    get:
      summary: List teams
      description: Lists all teams in an organization.
      tags:
      - teams
      operationId: teams/list
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: teams
        subcategory: teams
  /orgs/{org}/teams/{team_slug}/members:
    get:
      summary: List team members
      description: Lists the members of a team.
      tags:
      - teams
      operationId: teams/list-members
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/team-slug'
      - name: role
        description: Filter members by role in the team.
        in: query
        required: false
        schema:
          type: string
          enum:
          - all
          - member
          - maintainer
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: teams
        subcategory: members
  /orgs/{org}/teams/{team_slug}/repos:
    get:
      summary: List team repositories
      description: Lists the repositories that a team has explicit access to.
      tags:
      - teams
      operationId: teams/list-repos
      parameters:
      - $ref: '#/components/parameters/org'
      - $ref: '#/components/parameters/team-slug'
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: teams
        subcategory: repos
  /repos/{owner}/{repo}:
    get:
      summary: Get a repository
      description: 'The `parent` and `source` objects are present when the repository is a fork. `parent` is the repository
        this repository was forked from, `source` is the ultimate source for the network.


        > [!NOTE]

        > - In order to see the `security_and_analysis` block for a repository you must have admin permissions for the repository
        or be an owner or security manager for the organization that owns the repository. For more information, see "[Managing
        security managers in your organization](https://docs.github.com/organizations/managing-peoples-access-to-your-organization-with-roles/managing-security-managers-in-your-organization)."

        > - To view merge-related settings, you must have the `contents:read` and `contents:write` permissions.'
      tags:
      - repos
      operationId: repos/get
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/repos#get-a-repository
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/full-repository'
              examples:
                default-response:
                  $ref: '#/components/examples/full-repository-default-response'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
        '301':
          $ref: '#/components/responses/moved_permanently'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: repos
  /repos/{owner}/{repo}/branches:
    get:
      summary: List branches
      description: ''
      tags:
      - repos
      operationId: repos/list-branches
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/branches/branches#list-branches
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: protected
        description: Setting to `true` returns only branches protected by branch protections or rulesets. When set to `false`,
          only unprotected branches are returned. Omitting this parameter returns all branches.
        in: query
        required: false
        schema:
          type: boolean
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/short-branch'
              examples:
                default:
                  $ref: '#/components/examples/short-branch-with-protection-items'
          headers:
            Link:
              $ref: '#/components/headers/link'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: branches
        subcategory: branches
  /repos/{owner}/{repo}/branches/{branch}:
    get:
      summary: Get a branch
      description: ''
      tags:
      - repos
      operationId: repos/get-branch
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/branches/branches#get-a-branch
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/branch'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/branch-with-protection'
              examples:
                default:
                  $ref: '#/components/examples/branch-get'
        '301':
          $ref: '#/components/responses/moved_permanently'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: branches
        subcategory: branches
  /repos/{owner}/{repo}/collaborators/{username}/permission:
    get:
      summary: Get repository permissions for a user
      description: 'Checks the repository permission and role of a collaborator.


        The `permission` attribute provides the legacy base roles of `admin`, `write`, `read`, and `none`, where the

        `maintain` role is mapped to `write` and the `triage` role is mapped to `read`.

        The `role_name` attribute provides the name of the assigned role, including custom roles. The

        `permission` can also be used to determine which base level of access the collaborator has to the repository.


        The calculated permissions are the highest role assigned to the collaborator after considering all sources of grants,
        including: repo, teams, organization, and enterprise.

        There is presently not a way to differentiate between an organization level grant and a repository level grant from
        this endpoint response.'
      tags:
      - repos
      operationId: repos/get-collaborator-permission-level
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/collaborators/collaborators#get-repository-permissions-for-a-user
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/username'
      responses:
        '200':
          description: if user has admin permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/repository-collaborator-permission'
              examples:
                response-if-user-has-admin-permissions:
                  $ref: '#/components/examples/repository-collaborator-permission-response-if-user-has-admin-permissions'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: collaborators
        subcategory: collaborators
  /repos/{owner}/{repo}/commits:
    get:
      summary: List commits
      description: '**Signature verification object**


        The response will include a `verification` object that describes the result of verifying the commit''s signature.
        The following fields are included in the `verification` object:


        | Name | Type | Description |

        | ---- | ---- | ----------- |

        | `verified` | `boolean` | Indicates whether GitHub considers the signature in this commit to be verified. |

        | `reason` | `string` | The reason for verified value. Possible values and their meanings are enumerated in table
        below. |

        | `signature` | `string` | The signature that was extracted from the commit. |

        | `payload` | `string` | The value that was signed. |

        | `verified_at` | `string` | The date the signature was verified by GitHub. |


        These are the possible values for `reason` in the `verification` object:


        | Value | Description |

        | ----- | ----------- |

        | `expired_key` | The key that made the signature is expired. |

        | `not_signing_key` | The "signing" flag is not among the usage flags in the GPG key that made the signature. |

        | `gpgverify_error` | There was an error communicating with the signature verification service. |

        | `gpgverify_unavailable` | The signature verification service is currently unavailable. |

        | `unsigned` | The object does not include a signature. |

        | `unknown_signature_type` | A non-PGP signature was found in the commit. |

        | `no_user` | No user was associated with the `committer` email address in the commit. |

        | `unverified_email` | The `committer` email address in the commit was associated with a user, but the email address
        is not verified on their account. |

        | `bad_email` | The `committer` email address in the commit is not included in the identities of the PGP key that
        made the signature. |

        | `unknown_key` | The key that made the signature has not been registered with any user''s account. |

        | `malformed_signature` | There was an error parsing the signature. |

        | `invalid` | The signature could not be cryptographically verified using the key whose key-id was found in the signature.
        |

        | `valid` | None of the above errors applied, so the signature is considered to be verified. |'
      tags:
      - repos
      operationId: repos/list-commits
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/commits/commits#list-commits
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: sha
        description: 'SHA or branch to start listing commits from. Default: the repository’s default branch (usually `main`).'
        in: query
        required: false
        schema:
          type: string
      - name: path
        description: Only commits containing this file path will be returned.
        in: query
        required: false
        schema:
          type: string
      - name: author
        description: GitHub username or email address to use to filter by commit author.
        in: query
        required: false
        schema:
          type: string
      - name: committer
        description: GitHub username or email address to use to filter by commit committer.
        in: query
        required: false
        schema:
          type: string
      - name: since
        description: 'Only show results that were last updated after the given time. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
          format: `YYYY-MM-DDTHH:MM:SSZ`. Due to limitations of Git, timestamps must be between 1970-01-01 and 2099-12-31
          (inclusive) or unexpected results may be returned.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: until
        description: 'Only commits before this date will be returned. This is a timestamp in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)
          format: `YYYY-MM-DDTHH:MM:SSZ`. Due to limitations of Git, timestamps must be between 1970-01-01 and 2099-12-31
          (inclusive) or unexpected results may be returned.'
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/commit'
              examples:
                default:
                  $ref: '#/components/examples/commit-items'
          headers:
            Link:
              $ref: '#/components/headers/link'
        '500':
          $ref: '#/components/responses/internal_error'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: commits
        subcategory: commits
  /repos/{owner}/{repo}/contents/{path}:
    get:
      summary: Get repository content
      description: "Gets the contents of a file or directory in a repository. Specify the file path or directory with the\
        \ `path` parameter. If you omit the `path` parameter, you will receive the contents of the repository's root directory.\n\
        \nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\
        \n\n- **`application/vnd.github.raw+json`**: Returns the raw file contents for files and symlinks.\n- **`application/vnd.github.html+json`**:\
        \ Returns the file contents in HTML. Markup languages are rendered to HTML using GitHub's open-source [Markup library](https://github.com/github/markup).\n\
        - **`application/vnd.github.object+json`**: Returns the contents in a consistent object format regardless of the content\
        \ type. For example, instead of an array of objects for a directory, the response will be an object with an `entries`\
        \ attribute containing the array of objects.\n\nIf the content is a directory, the response will be an array of objects,\
        \ one object for each item in the directory. When listing the contents of a directory, submodules have their \"type\"\
        \ specified as \"file\". Logically, the value _should_ be \"submodule\". This behavior exists [for backwards compatibility\
        \ purposes](https://git.io/v1YCW). In the next major version of the API, the type will be returned as \"submodule\"\
        .\n\nIf the content is a symlink and the symlink's target is a normal file in the repository, then the API responds\
        \ with the content of the file. Otherwise, the API responds with an object describing the symlink itself.\n\nIf the\
        \ content is a submodule, the `submodule_git_url` field identifies the location of the submodule repository, and the\
        \ `sha` identifies a specific commit within the submodule repository. Git uses the given URL when cloning the submodule\
        \ repository, and checks out the submodule at that specific commit. If the submodule repository is not hosted on github.com,\
        \ the Git URLs (`git_url` and `_links[\"git\"]`) and the github.com URLs (`html_url` and `_links[\"html\"]`) will\
        \ have null values.\n\n**Notes**:\n\n- To get a repository's contents recursively, you can [recursively get the tree](https://docs.github.com/rest/git/trees#get-a-tree).\n\
        - This API has an upper limit of 1,000 files for a directory. If you need to retrieve\nmore files, use the [Git Trees\
        \ API](https://docs.github.com/rest/git/trees#get-a-tree).\n- Download URLs expire and are meant to be used just once.\
        \ To ensure the download URL does not expire, please use the contents API to obtain a fresh download URL for each\
        \ download.\n- If the requested file's size is:\n  - 1 MB or smaller: All features of this endpoint are supported.\n\
        \  - Between 1-100 MB: Only the `raw` or `object` custom media types are supported. Both will work as normal, except\
        \ that when using the `object` media type, the `content` field will be an empty\nstring and the `encoding` field will\
        \ be `\"none\"`. To get the contents of these larger files, use the `raw` media type.\n  - Greater than 100 MB: This\
        \ endpoint is not supported."
      tags:
      - repos
      operationId: repos/get-content
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/contents#get-repository-content
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: path
        description: path parameter
        in: path
        required: true
        schema:
          type: string
        x-multi-segment: true
      - name: ref
        description: 'The name of the commit/branch/tag. Default: the repository’s default branch.'
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/content-file'
              examples:
                response-if-content-is-a-file:
                  $ref: '#/components/examples/content-file-response-if-content-is-a-file'
                response-if-content-is-a-directory:
                  $ref: '#/components/examples/content-file-response-if-content-is-a-directory'
                response-if-content-is-a-symlink:
                  $ref: '#/components/examples/content-file-response-if-content-is-a-symlink'
                response-if-content-is-a-submodule:
                  $ref: '#/components/examples/content-file-response-if-content-is-a-submodule'
        '404':
          $ref: '#/components/responses/not_found'
        '403':
          $ref: '#/components/responses/forbidden'
        '302':
          $ref: '#/components/responses/found'
        '304':
          $ref: '#/components/responses/not_modified'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: contents
      x-github-breaking-changes:
      - changeset: return_submodule_type_for_submodules_in_directory_lists
        patch:
          description: "Gets the contents of a file or directory in a repository. Specify the file path or directory with\
            \ the `path` parameter. If you omit the `path` parameter, you will receive the contents of the repository's root\
            \ directory.\n\nThis endpoint supports the following custom media types. For more information, see \"[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types).\"\
            \n\n- **`application/vnd.github.raw+json`**: Returns the raw file contents for files and symlinks.\n- **`application/vnd.github.html+json`**:\
            \ Returns the file contents in HTML. Markup languages are rendered to HTML using GitHub's open-source [Markup\
            \ library](https://github.com/github/markup).\n- **`application/vnd.github.object+json`**: Returns the contents\
            \ in a consistent object format regardless of the content type. For example, instead of an array of objects for\
            \ a directory, the response will be an object with an `entries` attribute containing the array of objects.\n\n\
            If the content is a directory: The response will be an array of objects, one object for each item in the directory.\n\
            \nIf the content is a symlink and the symlink's target is a normal file in the repository, then the API responds\
            \ with the content of the file. Otherwise, the API responds with an object describing the symlink itself.\n\n\
            If the content is a submodule, the `submodule_git_url` field identifies the location of the submodule repository,\
            \ and the `sha` identifies a specific commit within the submodule repository. Git uses the given URL when cloning\
            \ the submodule repository, and checks out the submodule at that specific commit. If the submodule repository\
            \ is not hosted on github.com, the Git URLs (`git_url` and `_links[\"git\"]`) and the github.com URLs (`html_url`\
            \ and `_links[\"html\"]`) will have null values.\n\n**Notes**:\n\n- To get a repository's contents recursively,\
            \ you can [recursively get the tree](https://docs.github.com/rest/git/trees#get-a-tree).\n- This API has an upper\
            \ limit of 1,000 files for a directory. If you need to retrieve\nmore files, use the [Git Trees API](https://docs.github.com/rest/git/trees#get-a-tree).\n\
            - Download URLs expire and are meant to be used just once. To ensure the download URL does not expire, please\
            \ use the contents API to obtain a fresh download URL for each download.\n- If the requested file's size is:\n\
            \  - 1 MB or smaller: All features of this endpoint are supported.\n  - Between 1-100 MB: Only the `raw` or `object`\
            \ custom media types are supported. Both will work as normal, except that when using the `object` media type,\
            \ the `content` field will be an empty\nstring and the `encoding` field will be `\"none\"`. To get the contents\
            \ of these larger files, use the `raw` media type.\n  - Greater than 100 MB: This endpoint is not supported."
        version: '2026-03-10'
    put:
      summary: Create or update file contents
      description: 'Creates a new file or replaces an existing file in a repository.


        > [!NOTE]

        > If you use this endpoint and the "[Delete a file](https://docs.github.com/rest/repos/contents/#delete-a-file)" endpoint
        in parallel, the concurrent requests will conflict and you will receive errors. You must use these endpoints serially
        instead.


        OAuth app tokens and personal access tokens (classic) need the `repo` scope to use this endpoint. The `workflow` scope
        is also required in order to modify files in the `.github/workflows` directory.'
      tags:
      - repos
      operationId: repos/create-or-update-file-contents
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/repos/contents#create-or-update-file-contents
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: path
        description: path parameter
        in: path
        required: true
        schema:
          type: string
        x-multi-segment: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: The commit message.
                content:
                  type: string
                  description: The new file content, using Base64 encoding.
                sha:
                  type: string
                  description: '**Required if you are updating a file**. The blob SHA of the file being replaced.'
                branch:
                  type: string
                  description: 'The branch name. Default: the repository’s default branch.'
                committer:
                  type: object
                  description: 'The person that committed the file. Default: the authenticated user.'
                  properties:
                    name:
                      type: string
                      description: The name of the author or committer of the commit. You'll receive a `422` status code if
                        `name` is omitted.
                    email:
                      type: string
                      description: The email of the author or committer of the commit. You'll receive a `422` status code
                        if `email` is omitted.
                    date:
                      type: string
                      example: '"2013-01-05T13:13:22+05:00"'
                  required:
                  - name
                  - email
                author:
                  type: object
                  description: 'The author of the file. Default: The `committer` or the authenticated user if you omit `committer`.'
                  properties:
                    name:
                      type: string
                      description: The name of the author or committer of the commit. You'll receive a `422` status code if
                        `name` is omitted.
                    email:
                      type: string
                      description: The email of the author or committer of the commit. You'll receive a `422` status code
                        if `email` is omitted.
                    date:
                      type: string
                      example: '"2013-01-15T17:13:22+05:00"'
                  required:
                  - name
                  - email
              required:
              - message
              - content
            examples:
              example-for-creating-a-file:
                summary: Example for creating a file
                value:
                  message: my commit message
                  committer:
                    name: Monalisa Octocat
                    email: octocat@github.com
                  content: bXkgbmV3IGZpbGUgY29udGVudHM=
              example-for-updating-a-file:
                summary: Example for updating a file
                value:
                  message: a new commit message
                  committer:
                    name: Monalisa Octocat
                    email: octocat@github.com
                  content: bXkgdXBkYXRlZCBmaWxlIGNvbnRlbnRz
                  sha: 95b966ae1c166bd92f8ae7d1c313e738c731dfc3
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file-commit'
              examples:
                example-for-updating-a-file:
                  $ref: '#/components/examples/file-commit-example-for-updating-a-file'
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/file-commit'
              examples:
                example-for-creating-a-file:
                  $ref: '#/components/examples/file-commit-example-for-creating-a-file'
        '404':
          $ref: '#/components/responses/not_found'
        '422':
          $ref: '#/components/responses/validation_failed'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/basic-error'
                - $ref: '#/components/schemas/repository-rule-violation-error'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: repos
        subcategory: contents
  /repos/{owner}/{repo}/git/refs:
    post:
      summary: Create a reference
      description: Creates a reference for your repository. You are unable to create new references for empty repositories,
        even if the commit SHA-1 hash used exists. Empty repositories are repositories without branches.
      tags:
      - git
      operationId: git/create-ref
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/git/refs#create-a-reference
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref:
                  type: string
                  description: 'The name of the fully qualified reference (ie: `refs/heads/master`). If it doesn''t start
                    with ''refs'' and have at least two slashes, it will be rejected.'
                sha:
                  type: string
                  description: The SHA1 value for this reference.
              required:
              - ref
              - sha
            examples:
              default:
                value:
                  ref: refs/heads/featureA
                  sha: aa218f56b14c9653891f9e74264a383fa43fefbd
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/git-ref'
              examples:
                default:
                  $ref: '#/components/examples/git-ref'
          headers:
            Location:
              example: https://api.github.com/repos/octocat/Hello-World/git/refs/heads/featureA
              schema:
                type: string
        '422':
          $ref: '#/components/responses/validation_failed'
        '409':
          $ref: '#/components/responses/conflict'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: git
        subcategory: refs
  /repos/{owner}/{repo}/git/refs/{ref}:
    delete:
      summary: Delete a reference
      description: Deletes the provided reference.
      tags:
      - git
      operationId: git/delete-ref
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/git/refs#delete-a-reference
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/git-ref-only'
      responses:
        '204':
          description: Response
        '422':
          description: Validation failed, an attempt was made to delete the default branch, or the endpoint has been spammed.
        '409':
          $ref: '#/components/responses/conflict'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: git
        subcategory: refs
  /repos/{owner}/{repo}/git/trees/{tree_sha}:
    get:
      summary: Get a tree
      description: 'Returns a single tree using the SHA1 value or ref name for that tree.


        If `truncated` is `true` in the response then the number of items in the `tree` array exceeded our maximum limit.
        If you need to fetch more items, use the non-recursive method of fetching trees, and fetch one sub-tree at a time.


        > [!NOTE]

        > The limit for the `tree` array is 100,000 entries with a maximum size of 7 MB when using the `recursive` parameter.'
      tags:
      - git
      operationId: git/get-tree
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/git/trees#get-a-tree
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: tree_sha
        description: The SHA1 value or ref (branch or tag) name of the tree.
        in: path
        required: true
        schema:
          type: string
        x-multi-segment: true
      - name: recursive
        description: 'Setting this parameter to any value returns the objects or subtrees referenced by the tree specified
          in `:tree_sha`. For example, setting `recursive` to any of the following will enable returning objects or subtrees:
          `0`, `1`, `"true"`, and `"false"`. Omit this parameter to prevent recursively returning objects or subtrees.'
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/git-tree'
              examples:
                default-response:
                  $ref: '#/components/examples/git-tree-default-response'
                response-recursively-retrieving-a-tree:
                  $ref: '#/components/examples/git-tree-response-recursively-retrieving-a-tree'
        '422':
          $ref: '#/components/responses/validation_failed'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: git
        subcategory: trees
  /repos/{owner}/{repo}/pulls:
    get:
      summary: List pull requests
      description: Lists pull requests in a repository.
      tags:
      - pulls
      operationId: pulls/list
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - name: state
        description: State of the pull requests to include.
        in: query
        required: false
        schema:
          type: string
          enum:
          - open
          - closed
          - all
      - name: head
        description: Filter by the head user or organization and branch.
        in: query
        required: false
        schema:
          type: string
      - name: base
        description: Filter by the base branch name.
        in: query
        required: false
        schema:
          type: string
      - name: sort
        description: Sort order for the results.
        in: query
        required: false
        schema:
          type: string
          enum:
          - created
          - updated
          - popularity
          - long-running
      - name: direction
        description: Sort direction.
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: since
        description: Only pull requests updated after this time.
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - $ref: '#/components/parameters/per-page'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/pull-request'
        '403':
          $ref: '#/components/responses/forbidden'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: pulls
        subcategory: pulls
    post:
      summary: Create a pull request
      description: 'Draft pull requests are available in public repositories with GitHub Free and GitHub Free for organizations,
        GitHub Pro, and legacy per-repository billing plans, and in public and private repositories with GitHub Team and GitHub
        Enterprise Cloud. For more information, see [GitHub''s products](https://docs.github.com/github/getting-started-with-github/githubs-products)
        in the GitHub Help documentation.


        To open or update a pull request in a public repository, you must have write access to the head or the source branch.
        For organization-owned repositories, you must be a member of the organization that owns the repository to open or
        update a pull request.


        This endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications).
        Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see
        "[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)"
        and "[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api)."


        This endpoint supports the following custom media types. For more information, see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the
        default if you do not pass any specific media type.

        - **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include
        `body_text`.

        - **`application/vnd.github.html+json`**: Returns HTML rendered from the body''s markdown. Response will include `body_html`.

        - **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`,
        `body_text`, and `body_html`.'
      tags:
      - pulls
      operationId: pulls/create
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/pulls/pulls#create-a-pull-request
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title of the new pull request. Required unless `issue` is specified.
                head:
                  type: string
                  description: 'The name of the branch where your changes are implemented. For cross-repository pull requests
                    in the same network, namespace `head` with a user like this: `username:branch`.'
                head_repo:
                  type: string
                  description: The name of the repository where the changes in the pull request were made. This field is required
                    for cross-repository pull requests if both repositories are owned by the same organization.
                  format: repo.nwo
                  example: octo-org/octo-repo
                base:
                  type: string
                  description: The name of the branch you want the changes pulled into. This should be an existing branch
                    on the current repository. You cannot submit a pull request to one repository that requests a merge to
                    a base of another repository.
                body:
                  type: string
                  description: The contents of the pull request.
                maintainer_can_modify:
                  type: boolean
                  description: Indicates whether [maintainers can modify](https://docs.github.com/articles/allowing-changes-to-a-pull-request-branch-created-from-a-fork/)
                    the pull request.
                draft:
                  type: boolean
                  description: Indicates whether the pull request is a draft. See "[Draft Pull Requests](https://docs.github.com/articles/about-pull-requests#draft-pull-requests)"
                    in the GitHub Help documentation to learn more.
                issue:
                  type: integer
                  format: int64
                  example: 1
                  description: An issue in the repository to convert to a pull request. The issue title, body, and comments
                    will become the title, body, and comments on the new pull request. Required unless `title` is specified.
              required:
              - head
              - base
            examples:
              default:
                value:
                  title: Amazing new feature
                  body: Please pull these awesome changes in!
                  head: octocat:new-feature
                  base: master
      responses:
        '201':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pull-request'
              examples:
                default:
                  $ref: '#/components/examples/pull-request'
          headers:
            Location:
              example: https://api.github.com/repos/octocat/Hello-World/pulls/1347
              schema:
                type: string
        '403':
          $ref: '#/components/responses/forbidden'
        '422':
          $ref: '#/components/responses/validation_failed'
      x-github:
        triggersNotification: true
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: pulls
        subcategory: pulls
  /repos/{owner}/{repo}/pulls/{pull_number}:
    patch:
      summary: Update a pull request
      description: 'Draft pull requests are available in public repositories with GitHub Free and GitHub Free for organizations,
        GitHub Pro, and legacy per-repository billing plans, and in public and private repositories with GitHub Team and GitHub
        Enterprise Cloud. For more information, see [GitHub''s products](https://docs.github.com/github/getting-started-with-github/githubs-products)
        in the GitHub Help documentation.


        To open or update a pull request in a public repository, you must have write access to the head or the source branch.
        For organization-owned repositories, you must be a member of the organization that owns the repository to open or
        update a pull request.


        This endpoint supports the following custom media types. For more information, see "[Media types](https://docs.github.com/rest/using-the-rest-api/getting-started-with-the-rest-api#media-types)."


        - **`application/vnd.github.raw+json`**: Returns the raw markdown body. Response will include `body`. This is the
        default if you do not pass any specific media type.

        - **`application/vnd.github.text+json`**: Returns a text only representation of the markdown body. Response will include
        `body_text`.

        - **`application/vnd.github.html+json`**: Returns HTML rendered from the body''s markdown. Response will include `body_html`.

        - **`application/vnd.github.full+json`**: Returns raw, text, and HTML representations. Response will include `body`,
        `body_text`, and `body_html`.'
      tags:
      - pulls
      operationId: pulls/update
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/pulls/pulls#update-a-pull-request
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/pull-number'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: The title of the pull request.
                body:
                  type: string
                  description: The contents of the pull request.
                state:
                  type: string
                  description: State of this Pull Request. Either `open` or `closed`.
                  enum:
                  - open
                  - closed
                base:
                  type: string
                  description: The name of the branch you want your changes pulled into. This should be an existing branch
                    on the current repository. You cannot update the base branch on a pull request to point to another repository.
                maintainer_can_modify:
                  type: boolean
                  description: Indicates whether [maintainers can modify](https://docs.github.com/articles/allowing-changes-to-a-pull-request-branch-created-from-a-fork/)
                    the pull request.
            examples:
              default:
                value:
                  title: new title
                  body: updated body
                  state: open
                  base: master
      responses:
        '200':
          description: Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pull-request'
              examples:
                default:
                  $ref: '#/components/examples/pull-request'
        '422':
          $ref: '#/components/responses/validation_failed'
        '403':
          $ref: '#/components/responses/forbidden'
      x-github:
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: pulls
        subcategory: pulls
  /repos/{owner}/{repo}/pulls/{pull_number}/merge:
    put:
      summary: Merge a pull request
      description: 'Merges a pull request into the base branch.

        This endpoint triggers [notifications](https://docs.github.com/github/managing-subscriptions-and-notifications-on-github/about-notifications).
        Creating content too quickly using this endpoint may result in secondary rate limiting. For more information, see
        "[Rate limits for the API](https://docs.github.com/rest/using-the-rest-api/rate-limits-for-the-rest-api#about-secondary-rate-limits)"
        and "[Best practices for using the REST API](https://docs.github.com/rest/guides/best-practices-for-using-the-rest-api)."'
      tags:
      - pulls
      operationId: pulls/merge
      externalDocs:
        description: API method documentation
        url: https://docs.github.com/rest/pulls/pulls#merge-a-pull-request
      parameters:
      - $ref: '#/components/parameters/owner'
      - $ref: '#/components/parameters/repo'
      - $ref: '#/components/parameters/pull-number'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
              properties:
                commit_title:
                  type: string
                  description: Title for the automatic commit message.
                commit_message:
                  type: string
                  description: Extra detail to append to automatic commit message.
                sha:
                  type: string
                  description: SHA that pull request head must match to allow merge.
                merge_method:
                  type: string
                  description: The merge method to use.
                  enum:
                  - merge
                  - squash
                  - rebase
            examples:
              response-if-merge-was-successful:
                value:
                  commit_title: Expand enum
                  commit_message: Add a new value to the merge_method enum
      responses:
        '200':
          description: if merge was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pull-request-merge-result'
              examples:
                response-if-merge-was-successful:
                  $ref: '#/components/examples/pull-request-merge-result-response-if-merge-was-successful'
        '405':
          description: Method Not Allowed if merge cannot be performed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  documentation_url:
                    type: string
              examples:
                response-if-merge-cannot-be-performed:
                  value:
                    message: Pull Request is not mergeable
        '409':
          description: Conflict if sha was provided and pull request head did not match
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  documentation_url:
                    type: string
              examples:
                response-if-sha-was-provided-and-pull-request-head-did-not-match:
                  value:
                    message: Head branch was modified. Review and try the merge again.
        '422':
          $ref: '#/components/responses/validation_failed'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
      x-github:
        triggersNotification: true
        githubCloudOnly: false
        enabledForGitHubApps: true
        category: pulls
        subcategory: pulls
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    basic-error:
      title: Basic Error
      description: Basic Error
      type: object
      properties:
        message:
          type: string
        documentation_url:
          type: string
        url:
          type: string
        status:
          type: string
    validation-error:
      title: Validation Error
      description: Validation Error
      type: object
      required:
      - message
      - documentation_url
      properties:
        message:
          type: string
        documentation_url:
          type: string
        errors:
          type: array
          items:
            type: object
            required:
            - code
            properties:
              resource:
                type: string
              field:
                type: string
              message:
                type: string
              code:
                type: string
              index:
                type: integer
              value:
                oneOf:
                - type: string
                  nullable: true
                - type: integer
                  nullable: true
                - type: array
                  nullable: true
                  items:
                    type: string
    pull-request-merge-result:
      title: Pull Request Merge Result
      description: Pull Request Merge Result
      type: object
      properties:
        sha:
          type: string
        merged:
          type: boolean
        message:
          type: string
      required:
      - merged
      - message
      - sha
    pull-request:
      type: object
      title: Pull Request
      description: Pull requests let you tell others about changes you've pushed to a repository on GitHub. Once a pull request
        is sent, interested parties can review the set of changes, discuss potential modifications, and even push follow-up
        commits if necessary.
      properties:
        url:
          type: string
          format: uri
          example: https://api.github.com/repos/octocat/Hello-World/pulls/1347
        id:
          type: integer
          format: int64
          example: 1
        node_id:
          type: string
          example: MDExOlB1bGxSZXF1ZXN0MQ==
        html_url:
          type: string
          format: uri
          example: https://github.com/octocat/Hello-World/pull/1347
        diff_url:
          type: string
          format: uri
          example: https://github.com/octocat/Hello-World/pull/1347.diff
        patch_url:
          type: string
          format: uri
          example: https://github.com/octocat/Hello-World/pull/1347.patch
        issue_url:
          type: string
          format: uri
          example: https://api.github.com/repos/octocat/Hello-World/issues/1347
        commits_url:
          type: string
          format: uri
          example: https://api.github.com/repos/octocat/Hello-World/pulls/1347/commits
        review_comments_url:
          type: string
          format: uri
          example: https://api.github.com/repos/octocat/Hello-World/pulls/1347/comments
        review_comment_url:
          type: string
          example: https://api.github.com/repos/octocat/Hello-World/pulls/comments{/number}
        comments_url:
          type: string
          format: uri
          example: https://api.github.com/repos/octocat/Hello-World/issues/1347/comments
        statuses_url:
          type: string
          format: uri
          example: https://api.github.com/repos/octocat/Hello-World/statuses/6dcb09b5b57875f334f61aebed695e2e4193db5e
        number:
          description: Number uniquely identifying the pull request within its repository.
          example: 42
          type: integer
        state:
          description: State of this Pull Request. Either `open` or `closed`.
          enum:
          - open
          - closed
          example: open
          type: string
        locked:
          type: boolean
          example: true
        title:
          description: The title of the pull request.
          example: Amazing new feature
          type: string
        user:
          $ref: '#/components/schemas/simple-user'
        body:
          type: string
          example: Please pull these awesome changes
          nullable: true
        labels:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
                format: int64
              node_id:
                type: string
              url:
                type: string
              name:
                type: string
              description:
                type: string
                nullable: true
              color:
                type: string
              default:
                type: boolean
            required:
            - id
            - node_id
            - url
            - name
            - description
            - color
            - default
        milestone:
          $ref: '#/components/schemas/nullable-milestone'
        active_lock_reason:
          type: string
          example: too heated
          nullable: true
        created_at:
          type: string
          format: date-time
          example: '2011-01-26T19:01:12Z'
        updated_at:
          type: string
          format: date-time
          example: '2011-01-26T19:01:12Z'
        closed_at:
          type: string
          format: date-time
          example: '2011-01-26T19:01:12Z'
          nullable: true
        merged_at:
          type: string
          format: date-time
          example: '2011-01-26T19:01:12Z'
          nullable: true
        merge_commit_sha:
          type: string
          example: e5bd3914e2e596debea16f433f57875b5b90bcd6
          nullable: true
        assignee:
          $ref: '#/components/schemas/nullable-simple-user'
        assignees:
          type: array
          items:
            $ref: '#/components/schemas/simple-user'
        requested_reviewers:
          type: array
          items:
            $ref: '#/components/schemas/simple-user'
        requested_teams:
          type: array
          items:
            $ref: '#/components/schemas/team-simple'
        head:
          type: object
          properties:
            label:
              type: string
            ref:
              type: string
            repo:
              $ref: '#/components/schemas/repository'
            sha:
              type: string
            user:
              $ref: '#/components/schemas/simple-user'
          required:
          - label
          - ref
          - repo
          - sha
          - user
        base:
          type: object
          properties:
            label:
              type: string
            ref:
              type: string
            repo:
              $ref: '#/components/schemas/repository'
            sha:
              type: string
            user:
              $ref: '#/components/schemas/simple-user'
          required:
          - label
          - ref
          - repo
          - sha
          - user
        _links:
          type: object
          properties:
            comments:
              $ref: '#/components/schemas/link'
            commits:
              $ref: '#/components/schemas/link'
            statuses:
              $ref: '#/components/schemas/link'
            html:
              $ref: '#/components/schemas/link'
            issue:
              $ref: '#/components/schemas/link'
            review_comments:
              $ref: '#/components/schemas/link'
            review_comment:
              $ref: '#/components/schemas/link'
            self:
              $ref: '#/components/schemas/link'
          required:
          - comments
          - commits
          - statuses
          - html
          - issue
          - review_comments
          - review_comment
          - self
        author_association:
          $ref: '#/components/schemas/author-association'
        auto_merge:
          $ref: '#/components/schemas/auto-merge'
        stack:
          $ref: '#/components/schemas/pull-request-stack'
        draft:
          description: Indicates whether or not the pull request is a draft.
          example: false
          type: boolean
        merged:
          type: boolean
        mergeable:
          type: boolean
          example: true
          nullable: true
        rebaseable:
          type: boolean
          example: true
          nullable: true
        mergeable_state:
          type: string
          example: clean
        merged_by:
          $ref: '#/components/schemas/nullable-simple-user'
        comments:
          type: integer
          example: 10
        review_comments:
          type: integer
          example: 0
        maintainer_can_modify:
          description: Indicates whether maintainers can modify the pull request.
          example: true
          type: boolean
        commits:
          type: integer
          example: 3
        additions:
          type: integer
          example: 100
        deletions:
          type: integer
          example: 3
        changed_files:
          type: integer
          example: 5
      required:
      - _links
      - assignee
      - labels
      - base
      - body
      - closed_at
      - comments_url
      - commits_url
      - created_at
      - diff_url
      - head
      - html_url
      - id
      - node_id
      - issue_url
      - merge_commit_sha
      - merged_at
      - milestone
      - number
      - patch_url
      - review_comment_url
      - review_comments_url
      - statuses_url
      - state
      - locked
      - title
      - updated_at
      - url
      - user
      - author_association
      - auto_merge
      - additions
      - changed_files
      - comments
      - commits
      - deletions
      - mergeable
      - mergeable_state
      - merged
      - maintainer_can_modify
      - merged_by
      - review_comments
      x-github-breaking-changes:
      - changeset: remove_pull_request_merge_commit_sha
        patch:
          properties:
            merge_commit_sha: null
          required:
          - _links
          - assignee
          - labels
          - base
          - body
          - closed_at
          - comments_url
          - commits_url
          - created_at
          - diff_url
          - head
          - html_url
          - id
          - node_id
          - issue_url
          - merged_at
          - milestone
          - number
          - patch_url
          - review_comment_url
          - review_comments_url
          - statuses_url
          - state
          - locked
          - title
          - updated_at
          - url
          - user
          - author_association
          - auto_merge
          - additions
          - changed_files
          - comments
          - commits
          - deletions
          - mergeable
          - mergeable_state
          - merged
          - maintainer_can_modify
          - merged_by
          - review_comments
        version: '2026-03-10'
      - changeset: remove_singular_assignee_from_issues_and_pull_requests
        patch:
          properties:
            assignee: null
          required:
          - _links
          - labels
          - base
          - body
          - closed_at
          - comments_url
          - commits_url
          - created_at
          - diff_url
          - head
          - html_url
          - id
          - node_id
          - issue_url
          - merged_at
          - milestone
          - number
          - patch_url
          - review_comment_url
          - review_comments_url
          - statuses_url
          - state
          - locked
          - title
          - updated_at
          - url
          - user
          - author_association
          - auto_merge
          - additions
          - changed_files
          - comments
          - commits
          - deletions
          - mergeable
          - mergeable_state
          - merged
          - maintainer_can_modify
          - merged_by
          - review_comments
        version: '2026-03-10'
    nullable-simple-user:
      title: Simple User
      description: A GitHub user.
      type: object
      properties:
        name:
          nullable: true
          type: string
        email:
          nullable: true
          type: string
        login:
          type: string
          example: octocat
        id:
          type: integer
          format: int64
          example: 1
        node_id:
          type: string
          example: MDQ6VXNlcjE=
        avatar_url:
          type: string
          format: uri
          example: https://github.com/images/error/octocat_happy.gif
        gravatar_id:
          type: string
          example: 41d064eb2195891e12d0413f63227ea7
          nullable: true
        url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat
        html_url:
          type: string
          format: uri
          example: https://github.com/octocat
        followers_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/followers
        following_url:
          type: string
          example: https://api.github.com/users/octocat/following{/other_user}
        gists_url:
          type: string
          example: https://api.github.com/users/octocat/gists{/gist_id}
        starred_url:
          type: string
          example: https://api.github.com/users/octocat/starred{/owner}{/repo}
        subscriptions_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/subscriptions
        organizations_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/orgs
        repos_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/repos
        events_url:
          type: string
          example: https://api.github.com/users/octocat/events{/privacy}
        received_events_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/received_events
        type:
          type: string
          example: User
        site_admin:
          type: boolean
        starred_at:
          type: string
          example: '"2020-07-09T00:17:55Z"'
        user_view_type:
          type: string
          example: public
      required:
      - avatar_url
      - events_url
      - followers_url
      - following_url
      - gists_url
      - gravatar_id
      - html_url
      - id
      - node_id
      - login
      - organizations_url
      - received_events_url
      - repos_url
      - site_admin
      - starred_url
      - subscriptions_url
      - type
      - url
      nullable: true
    pull-request-stack:
      title: Pull Request Stack
      description: The stack information associated with a pull request.
      type: object
      properties:
        base:
          type: object
          properties:
            ref:
              type: string
              description: The base ref of the stack this pull request belongs to.
            sha:
              type: string
              description: The base SHA of the stack this pull request belongs to.
          required:
          - ref
          - sha
        size:
          type: integer
          description: The total number of pull requests in the stack.
        position:
          type: integer
          description: The one-based position of this pull request within the stack, where 1 is the bottom of the stack.
        id:
          type: integer
          description: The ID of the stack that this pull request belongs to.
        number:
          type: integer
          description: The number of the stack that this pull request belongs to.
      required:
      - base
      nullable: true
    auto-merge:
      title: Auto merge
      description: The status of auto merging a pull request.
      type: object
      properties:
        enabled_by:
          $ref: '#/components/schemas/simple-user'
        merge_method:
          type: string
          description: The merge method to use.
          enum:
          - merge
          - squash
          - rebase
        commit_title:
          type: string
          description: Title for the merge commit message.
        commit_message:
          type: string
          description: Commit message for the merge commit.
      required:
      - enabled_by
      - merge_method
      - commit_title
      - commit_message
      nullable: true
    simple-user:
      title: Simple User
      description: A GitHub user.
      type: object
      properties:
        name:
          nullable: true
          type: string
        email:
          nullable: true
          type: string
        login:
          type: string
          example: octocat
        id:
          type: integer
          format: int64
          example: 1
        node_id:
          type: string
          example: MDQ6VXNlcjE=
        avatar_url:
          type: string
          format: uri
          example: https://github.com/images/error/octocat_happy.gif
        gravatar_id:
          type: string
          example: 41d064eb2195891e12d0413f63227ea7
          nullable: true
        url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat
        html_url:
          type: string
          format: uri
          example: https://github.com/octocat
        followers_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/followers
        following_url:
          type: string
          example: https://api.github.com/users/octocat/following{/other_user}
        gists_url:
          type: string
          example: https://api.github.com/users/octocat/gists{/gist_id}
        starred_url:
          type: string
          example: https://api.github.com/users/octocat/starred{/owner}{/repo}
        subscriptions_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/subscriptions
        organizations_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/orgs
        repos_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/repos
        events_url:
          type: string
          example: https://api.github.com/users/octocat/events{/privacy}
        received_events_url:
          type: string
          format: uri
          example: https://api.github.com/users/octocat/received_events
        type:
          type: string
          example: User
        site_admin:
          type: boolean
        starred_at:
          type: string
          example: '"2020-07-09T00:17:55Z"'
        user_view_type:
          type: string
          example: public
      required:
      - avatar_url
      - events_url
      - followers_url
      - following_url
      - gists_url
      - gravatar_id
      - html_url
      - id
      - node_id
      - login
      - organizations_url
      - received_events_url
      - repos_url
      - site_admin
      - starred_url
      - subscriptions_url
      - type
      - url
    author-association:
      title: author_association
      type: string
      example: OWNER
      description: How the author is associated with the repository.
      enum:
      - COLLABORATOR
      - CONTRIBUTOR
      - FIRST_TIMER
      - FIRST_TIME_CONTRIBUTOR
      - MANNEQUIN
      - MEMBER
      - NONE
      - OWNER
    link:
      title: Link
      description: Hypermedia Link
      type: object
      properties:
        href:
          type: string
      required:
      - href
    repository:
      title: Repository
      description: A repository on GitHub.
      type: object
      properties:
        id:
          description: Unique identifier of the repository
          example: 42
          type: integer
          format: int64
        node_id:
          type: string
          example: MDEwOlJlcG9zaXRvcnkxMjk2MjY5
        name:
          description: The name of the repository.
          type: string
          example: Team Environment
        full_name:
          type: string
          example: octocat/Hello-World
        license:
          $ref: '#/components/schemas/nullable-license-simple'
        forks:
          type: integer
        permissions:
          type: object
          properties:
            admin:
              type: boolean
            pull:
              type: boolean
            triage:
              type: boolean
            push:
              type: boolean
            maintain:
              type: boolean
          required:
          - admin
          - pull
          - push
        owner:
          $ref: '#/components/schemas/simple-user'
        private:
          description: Whether the repository is private or public.
          default: false
          type: boolean
        html_url:
          type: string
          format: uri
          example: https://github.com/octocat/Hello-World
        description:
          type: string
          example: This your first repo!
          nullable: true
        fork:
          type: boolean
        url:
          type: string
          format: uri
          example: https://api.github.com/repos/octocat/Hello-World
        archive_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/{archive_format}{/ref}
        assignees_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/assignees{/user}
        blobs_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/git/blobs{/sha}
        branches_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/branches{/branch}
        collaborators_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/collaborators{/collaborator}
        comments_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/comments{/number}
        commits_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/commits{/sha}
        compare_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/compare/{base}...{head}
        contents_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/contents/{+path}
        contributors_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/contributors
        deployments_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/deployments
        downloads_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/downloads
        events_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/events
        forks_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/forks
        git_commits_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/git/commits{/sha}
        git_refs_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/git/refs{/sha}
        git_tags_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/git/tags{/sha}
        git_url:
          type: string
          example: git:github.com/octocat/Hello-World.git
        issue_comment_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/issues/comments{/number}
        issue_events_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/issues/events{/number}
        issues_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/issues{/number}
        keys_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/keys{/key_id}
        labels_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/labels{/name}
        languages_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/languages
        merges_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/merges
        milestones_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/milestones{/number}
        notifications_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/notifications{?since,all,participating}
        pulls_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/pulls{/number}
        releases_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/releases{/id}
        ssh_url:
          type: string
          example: git@github.com:octocat/Hello-World.git
        stargazers_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/stargazers
        statuses_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/statuses/{sha}
        subscribers_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/subscribers
        subscription_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/subscription
        tags_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/tags
        teams_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/teams
        trees_url:
          type: string
          example: http://api.github.com/repos/octocat/Hello-World/git/trees{/sha}
        clone_url:
          type: string
          example: https://github.com/octocat/Hello-World.git
        mirror_url:
          type: string
          format: uri
          example: git:git.example.com/octocat/Hello-World
          nullable: true
        hooks_url:
          type: string
          format: uri
          example: http://api.github.com/repos/octocat/Hello-World/hooks
        svn_url:
          type: string
          format: uri
          example: https://svn.github.com/octocat/Hello-World
        homepage:
          type: string
          format: uri
          example: https://github.com
          nullable: true
        language:
          type: string
          nullable: true
        forks_count:
          type: integer
          example: 9
        stargazers_count:
          type: integer
          example: 80
        watchers_count:
          type: integer
          example: 80
        size:
          description: The size of the repository, in kilobytes. Size is calculated hourly. When a repository is initially
            created, the size is 0.
          type: integer
          example: 108
        default_branch:
          description: The default branch of the repository.
          type: string
          example: master
        open_issues_count:
          type: integer
          example: 0
        is_template:
          description: Whether this repository acts as a template that can be used to generate new repositories.
          default: false
          type: boolean
          example: true
        topics:
          type: array
          items:
            type: string
        has_issues:
          description: Whether issues are enabled.
          default: true
          type: boolean
          example: true
        has_projects:
          description: Whether projects are enabled.
          default: true
          type: boolean
          example: true
        has_wiki:
          description: Whether the wiki is enabled.
          default: true
          type: boolean
          example: true
        has_pages:
          type: boolean
        has_downloads:
          description: Whether downloads are enabled.
          default: true
          type: boolean
          example: true
          deprecated: true
        has_discussions:
          description: Whether discussions are enabled.
          default: false
          type: boolean
          example: true
        has_pull_requests:
          description: Whether pull requests are enabled.
          default: true
          type: boolean
          example: true
        pull_request_creation_policy:
          description: 'The policy controlling who can create pull requests: all or collaborators_only.'
          type: string
          enum:
          - all
          - collaborators_only
          example: all
        archived:
          description: Whether the repository is archived.
          default: false
          type: boolean
        disabled:
          type: boolean
          description: Returns whether or not this repository disabled.
        visibility:
          description: 'The repository visibility: public, private, or internal.'
          default: public
          type: string
        pushed_at:
          type: string
          format: date-time
          example: '2011-01-26T19:06:43Z'
          nullable: true
        created_at:
          type: string
          format: date-time
          example: '2011-01-26T19:01:12Z'
          nullable: true
        updated_at:
          type: string
          format: date-time
          example: '2011-01-26T19:14:43Z'
          nullable: true
        allow_rebase_merge:
          description: Whether to allow rebase merges for pull requests.
          default: true
          type: boolean
          example: true
        temp_clone_token:
          type: string
        allow_squash_merge:
          description: Whether to allow squash merges for pull requests.
          default: true
          type: boolean
          example: true
        allow_auto_merge:
          description: Whether to allow Auto-merge to be used on pull requests.
          default: false
          type: boolean
          example: false
        delete_branch_on_merge:
          description: Whether to delete head branches when pull requests are merged
          default: false
          type: boolean
          example: false
        allow_update_branch:
          description: Whether or not a pull request head branch that is behind its base branch can always be updated even
            if it is not required to be up to date before merging.
          default: false
          type: boolean
          example: false
        use_squash_pr_title_as_default:
          type: boolean
          description: Whether a squash merge commit can use the pull request title as default. **This property is closing
            down. Please use `squash_merge_commit_title` instead.
          default: false
          deprecated: true
        squash_merge_commit_title:
          type: string
          enum:
          - PR_TITLE
          - COMMIT_OR_PR_TITLE
          description: 'The default value for a squash merge commit title:


            - `PR_TITLE` - default to the pull request''s title.

            - `COMMIT_OR_PR_TITLE` - default to the commit''s title (if only one commit) or the pull request''s title (when
            more than one commit).'
        squash_merge_commit_message:
          type: string
          enum:
          - PR_BODY
          - COMMIT_MESSAGES
          - BLANK
          description: 'The default value for a squash merge commit message:


            - `PR_BODY` - default to the pull request''s body.

            - `COMMIT_MESSAGES` - default to the branch''s commit messages.

            - `BLANK` - default to a blank commit message.'
        merge_commit_title:
          type: string
          enum:
          - PR_TITLE
          - MERGE_MESSAGE
          description: 'The default value for a merge commit title.


            - `PR_TITLE` - default to the pull request''s title.

            - `MERGE_MESSAGE` - default to the classic title for a merge message (e.g., Merge pull request #123 from branch-name).'
        merge_commit_message:
          type: string
          enum:
          - PR_BODY
          - PR_TITLE
          - BLANK
          description: 'The default value for a merge commit message.


            - `PR_TITLE` - default to the pull request''s title.

            - `PR_BODY` - default to the pull request''s body.

            - `BLANK` - default to a blank commit message.'
        allow_merge_commit:
          description: Whether to allow merge commits for pull requests.
          default: true
          type: boolean
          example: true
        allow_forking:
          description: Whether to allow forking this repo
          type: boolean
        web_commit_signoff_required:
          description: Whether to require contributors to sign off on web-based commits
          default: false
          type: boolean
        open_issues:
          type: integer
        watchers:
          type: integer
        master_branch:
          type: string
        starred_at:
          type: string
          example: '"2020-07-09T00:17:42Z"'
        anonymous_access_enabled:
          type: boolean
          description: Whether anonymous git access is enabled for this repository
        code_search_index_status:
          type: object
          description: The status of the code search index for this repository
          properties:
            lexical_search_ok:
              type: boolean
            lexical_commit_sha:
              type: string
      required:
      - archive_url
      - assignees_url
      - blobs_url
      - branches_url
      - collaborators_url
      - comments_url
      - commits_url
      - compare_url
      - contents_url
      - contributors_url
      - deployments_url
      - description
      - downloads_url
      - events_url
      - fork
      - forks_url
      - full_name
      - git_commits_url
      - git_refs_url
      - git_tags_url
      - hooks_url
      - html_url
      - id
      - node_id
      - issue_comment_url
      - issue_events_url
      - issues_url
      - keys_url
      - labels_url
      - languages_url
      - merges_url
      - milestones_url
      - name
      - notifications_url
      - owner
      - private
      - pulls_url
      - releases_url
      - stargazers_url
      - statuses_url
      - subscribers_url
      - subscription_url
      - tags_url
      - teams_url
      - trees_url
      - url
      - clone_url
      - default_branch
      - forks
      - forks_count
      - git_url
      - has_downloads
      - has_issues
      - has_projects
      - has_wiki
      - has_pages
      - homepage
      - language
      - archived
      - disabled
      - mirror_url
      - open_issues
      - open_issues_count
      - license
      - pushed_at
      - size
      - ssh_url
      - stargazers_count
      - svn_url
      - watchers
      - watchers_count
      - created_at
      - updated_at
      x-github-breaking-changes:
      - changeset: remove_use_squash_pr_title_as_default
        patch:
          properties:
            use_squash_pr_title_as_default: null
        version: '2026-03-10'
      - changeset: deprecate_beta_media_type
        patch:
          properties:
            master_branch: null
        version: '2026-03-10'
      - changeset: remove_has_downloads
        patch:
          properties:
            has_downloads: null
          required:
          - archive_url
          - assignees_url
          - blobs_url
          - branches_url
          - collaborators_url
          - comments_url
          - commits_url
          - compare_url
          - contents_url
          - contributors_url
          - deployments_url
          - description
          - downloads_url
          - events_url
          - fork
          - forks_url
          - full_name
          - git_commits_url
          - git_refs_url
          - git_tags_url
          - hooks_url
          - html_url
          - id
          - node_id
          - issue_comment_url
          - issue_events_url
          - issues_url
          - keys_url
          - labels_url
          - languages_url
          - merges_url
          - milestones_url
          - name
          - notifications_url
          - owner
          - private
          - pulls_url
          - releases_url
          - stargazers_url
          - statuses_url
          - subscribers_url
          - subscription_url
          - tags_url
          - teams_url
          - trees_url
          - url
          - clone_url
          - default_branch
          - forks
          - forks_count
          - git_url
          - has_issues
          - has_projects
          - has_wiki
          - has_pages
          - homepage
          - language
          - archived
          - disabled
          - mirror_url
          - open_issues
          - open_issues_count
          - license
          - pushed_at
          - size
          - ssh_url
          - stargazers_count
          - svn_url
          - watchers
          - watchers_count
          - created_at
          - updated_at
        version: '2026-03-10'
    nullable-license-simple:
      title: License Simple
      description: License Simple
      type: object
      properties:
        key:
          type: string
          example: mit
        name:
          type: string
          example: MIT License
        url:
          type: string
          nullable: true
          format: uri
          example: https://api.github.com/licenses/mit
        spdx_id:
          type: string
          nullable: true
          example: MIT
        node_id:
          type: string
          example: MDc6TGljZW5zZW1pdA==
        html_url:
          type: string
          format: uri
      required:
      - key
      - name
      - url
      - spdx_id
      - node_id
      nullable: true
    team-simple:
      title: Team Simple
      description: Groups of organization members that gives permissions on specified repositories.
      type: object
      properties:
        id:
          description: Unique identifier of the team
          type: integer
          example: 1
        node_id:
          type: string
          example: MDQ6VGVhbTE=
        url:
          description: URL for the team
          type: string
          format: uri
          example: https://api.github.com/organizations/1/team/1
        members_url:
          type: string
          example: https://api.github.com/organizations/1/team/1/members{/member}
        name:
          description: Name of the team
          type: string
          example: Justice League
        description:
          description: Description of the team
          type: string
          nullable: true
          example: A great team.
        permission:
          description: Permission that the team will have for its repositories
          type: string
          example: admin
        privacy:
          description: The level of privacy this team should have
          type: string
          example: closed
        notification_setting:
          description: The notification setting the team has set
          type: string
          example: notifications_enabled
        html_url:
          type: string
          format: uri
          example: https://github.com/orgs/rails/teams/core
        repositories_url:
          type: string
          format: uri
          example: https://api.github.com/organizations/1/team/1/repos
        slug:
          type: string
          example: justice-league
        ldap_dn:
          description: Distinguished Name (DN) that team maps to within LDAP environment
          example: uid=example,ou=users,dc=github,dc=com
          type: string
        type:
          description: The ownership type of the team
          type: string
          enum:
          - enterprise
          - organization
        organization_id:
          type: integer
          description: Unique identifier of the organization to which this team belongs
          example: 37
        enterprise_id:
          type: integer
          description: Unique identifier of the enterprise to which this team belongs
          example: 42
      required:
      - id
      - node_id
      - url
      - members_url
      - name
      - description
      - permission
      - html_url
      - repositories_url
      - slug
      - type
    nullable-milestone:
      title: Milestone
      description: A collection of related issues and pull requests.
      type: object
      properties:
        url:
          type: string
          format: uri
          example: https://api.github.com/repos/octocat/Hello-World/milestones/1
        html_url:
          type: string
          format: uri
          example: https://github.com/octocat/Hello-World/milestones/v1.0
        labels_url:
          type: string
          format: uri
          example: https://api.github.com/repos/octocat/Hello-World/milestones/1/labels
        id:
          type: integer
          example: 1002604
        node_id:
          type: string
          example: MDk6TWlsZXN0b25lMTAwMjYwNA==
        number:
          description: The number of the milestone.
          type: integer
          example: 42
        state:
          description: The state of the milestone.
          example: open
          type: string
          enum:
          - open
          - closed
          default: open
        title:
          description: The title of the milestone.
          example: v1.0
          type: string
        description:
          type: string
          example: Tracking milestone for version 1.0
          nullable: true
        creator:
          $ref: '#/components/schemas/nullable-simple-user'
        open_issues:
          type: integer
          example: 4
        closed_issues:
          type: integer
          example: 8
        created_at:
          type: string
          format: date-time
          example: '2011-04-10T20:09:31Z'
        updated_at:
          type: string
          format: date-time
          example: '2014-03-03T18:58:10Z'
        closed_at:
          type: string
          format: date-time
          example: '2013-02-12T13:22:01Z'
          nullable: true
        due_on:
          type: string
          format: date-time
          example: '2012-10-09T23:39:01Z'
          nullable: true
      required:
      - closed_issues
      - creator
      - description
      - due_on
      - closed_at
      - id
      - node_id
      - labels_url
      - html_url
      - number
      - open_issues
      - state
      - title
      - url
      - created_at
      - updated_at
      nullable: true
    git-tree:
      title: Git Tree
      description: The hierarchy between files in a Git repository.
      type: object
      properties:
        sha:
          type: string
        url:
          type: string
          format: uri
        truncated:
          type: boolean
        tree:
          description: Objects specifying a tree structure
          type: array
          items:
            type: object
            required:
            - path
            - mode
            - type
            - sha
            properties:
              path:
                type: string
                example: test/file.rb
              mode:
                type: string
                example: '040000'
              type:
                type: string
                example: tree
              sha:
                type: string
                example: 23f6827669e43831def8a7ad935069c8bd418261
              size:
                type: integer
                example: 12
              url:
                type: string
                example: https://api.github.com/repos/owner-482f3203ecf01f67e9deb18e/BBB_Private_Repo/git/blobs/23f6827669e43831def8a7ad935069c8bd418261
          example:
          - path: file.rb
            mode: '100644'
            type: blob
            size: 30
            sha: 44b4fc6d56897b048c772eb4087f854f46256132
            url: https://api.github.com/repos/octocat/Hello-World/git/blobs/44b4fc6d56897b048c772eb4087f854f46256132
      required:
      - sha
      - tree
      - truncated
    git-ref:
      title: Git Reference
      description: Git references within a repository
      type: object
      properties:
        ref:
          type: string
        node_id:
          type: string
        url:
          type: string
          format: uri
        object:
          type: object
          properties:
            type:
              type: string
            sha:
              description: SHA for the reference
              example: 7638417db6d59f3c431d3e1f261cc637155684cd
              type: string
              minLength: 40
              maxLength: 40
            url:
              type: string
              format: uri
          required:
          - type
          - sha
          - url
      required:
      - ref
      - node_id
      - url
      - object
    repository-rule-violation-error:
      description: Repository rule violation was detected
      type: object
      properties:
        message:
          type: string
        documentation_url:
          type: string
        status:
          type: string
        metadata:
          type: object
          properties:
            secret_scanning:
              type: object
              properties:
                bypass_placeholders:
                  type: array
                  items:
                    type: object
                    properties:
                      placeholder_id:
                        $ref: '#/components/schemas/secret-scanning-push-protection-bypass-placeholder-id'
                      token_type:
                        type: string
    secret-scanning-push-protection-bypass-placeholder-id:
      description: The ID of the push protection bypass placeholder. This value is returned on any push protected routes.
      type: string
    file-commit:
      title: File Commit
      description: File Commit
      type: object
      required:
      - content
      - commit
      properties:
        content:
          type: object
          properties:
            name:
              type: string
            path:
              type: string
            sha:
              type: string
            size:
              type: integer
            url:
              type: string
            html_url:
              type: string
            git_url:
              type: string
            download_url:
              type: string
            type:
              type: string
            _links:
              type: object
              properties:
                self:
                  type: string
                git:
                  type: string
                html:
                  type: string
          nullable: true
        commit:
          type: object
          properties:
            sha:
              type: string
            node_id:
              type: string
            url:
              type: string
            html_url:
              type: string
            author:
              type: object
              properties:
                date:
                  type: string
                name:
                  type: string
                email:
                  type: string
            committer:
              type: object
              properties:
                date:
                  type: string
                name:
                  type: string
                email:
                  type: string
            message:
              type: string
            tree:
              type: object
              properties:
                url:
                  type: string
                sha:
                  type: string
            parents:
              type: array
              items:
                type: object
                properties:
                  url:
                    type: string
                  html_url:
                    type: string
                  sha:
                    type: string
            verification:
              type: object
              properties:
                verified:
                  type: boolean
                reason:
                  type: string
                signature:
[...]
