CATALOG_COLLECTION_ID="1234546"
USER_ACTIONS_ID="1234"
USER_ACTIONS_DEFAULT_MESSAGE_DEFINITION_ID="DEFAULT_ERROR"
# Change these: set URLs and token for the Bitbucket instance you want to use
BITBUCKET_SERVICE_BASE_REST_URL="https://bitbucket-myproject-cd.apps.us-test.ocp.aws.boehringer.com/rest"
BITBUCKET_SERVICE_BASE_RAW_URL="https://bitbucket-myproject-cd.apps.us-test.ocp.aws.boehringer.com"
BITBUCKET_SERVICE_BEARER_TOKEN=BBDC-ABCDEFGxxxxxxxxxxxxxxxxxxxxxxxxxxx0123456789
# Change or keep these: configure caching to fit your needs
CACHING_BITBUCKET_SERVICE_CACHE_EVICTION_INTERVAL=5s
CACHING_BITBUCKET_SERVICE_CACHE_MAX_SIZE=100MB

# Keep these: Azure AD client ID for local application. Development only
SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_APP_ID_URI="21920dff-90ff-4b3e-997a-d9c2faf53feb"
SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_CREDENTIAL_CLIENT_ID="api://21920dff-90ff-4b3e-997a-d9c2faf53feb"

# Keep these: Azure AD client ID for DEV application. Development only
#SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_APP_ID_URI="6d81fd84-9b38-4aed-9403-ed95f6395cd7"
#SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_CREDENTIAL_CLIENT_ID="api://6d81fd84-9b38-4aed-9403-ed95f6395cd7"

SPRING_SECURITY_PROVISIONER_USERNAME=username
SPRING_SECURITY_PROVISIONER_PASSWORD=password

PROJECTS_INFO_SERVICE_BASE_REST_URL="https://projects-info-service-devstack-dev.apps.eu-dev.ocp.aws.boehringer.com/v1"

PROVISIONER_BITBUCKET_PROJECT_KEY=CATALOGS
PROVISIONER_BITBUCKET_REPOSITORY_SLUG=project-components
PROVISIONER_BITBUCKET_SUB_PATH=projects/${project-key}.json
PROVISIONER_BITBUCKET_SUB_PATH_TOKEN=${project-key}
PROVISIONER_BITBUCKET_BRANCH_NAME=refs/heads/master
