CATALOG_COLLECTION_ID="1234546"
USER_ACTIONS_ID="1234"
USER_ACTIONS_DEFAULT_MESSAGE_DEFINITION_ID="DEFAULT_ERROR"
# Change these: set URLs and token for the Bitbucket instance you want to use
BITBUCKET_SERVICE_BASE_REST_URL="https://bitbucket-myproject-cd.apps.us-test.ocp.aws.boehringer.com/rest"
BITBUCKET_SERVICE_BASE_RAW_URL="https://bitbucket-myproject-cd.apps.us-test.ocp.aws.boehringer.com"
BITBUCKET_SERVICE_BEARER_TOKEN=BBDC-ABCDEFGxxxxxxxxxxxxxxxxxxxxxxxxxxx0123456789
# Change or keep these: configure caching to fit your needs
CACHING_BITBUCKET_SERVICE_CACHE_EVICTION_INTERVAL=5s
CACHING_BITBUCKET_SERVICE_CACHE_MAX_SIZE=100MB
# Keep these: Azure AD client ID for local development only
SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_APP_ID_URI="21920dff-90ff-4b3e-997a-d9c2faf53feb"
SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_CREDENTIAL_CLIENT_ID="api://21920dff-90ff-4b3e-997a-d9c2faf53feb"


