server:
  port: 8080
logging:
  level:
    org.springframework: INFO
    org.opendevstack.component_catalog.server.controllers: INFO
spring:
  security:
    user:
      name: ${SPRING_SECURITY_PROVISIONER_USERNAME}
      password: ${SPRING_SECURITY_PROVISIONER_PASSWORD}
      roles: PROVISIONER
  profiles:
    active: dev
  http:
    client:
      factory: jdk
  jackson:
    date-format: org.opendevstack.component_catalog.util.RFC3339DateFormat
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false
  cloud:
    azure:
      active-directory:
        enabled: true
        session-stateless: true
        credential:
          client-id: ${SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_CREDENTIAL_CLIENT_ID}
        app-id-uri: ${SPRING_CLOUD_AZURE_ACTIVE_DIRECTORY_APP_ID_URI}
management:
  endpoints:
    web:
      exposure:
        include: health
catalog-collection:
  id: ${CATALOG_COLLECTION_ID}
user-actions:
  id: ${USER_ACTIONS_ID}
  default-message-definition-id: ${USER_ACTIONS_DEFAULT_MESSAGE_DEFINITION_ID}
component-catalog:
  caching:
    bitbucket-service-cache:
      enabled: true
      eviction-interval: ${CACHING_BITBUCKET_SERVICE_CACHE_EVICTION_INTERVAL}
      max-size: ${CACHING_BITBUCKET_SERVICE_CACHE_MAX_SIZE}
  bitbucket:
    service:
      base-rest-url: ${BITBUCKET_SERVICE_BASE_REST_URL}
      base-raw-url: ${BITBUCKET_SERVICE_BASE_RAW_URL}
      bearer-token: ${BITBUCKET_SERVICE_BEARER_TOKEN}
  projects-info-service:
    service:
      base-rest-url: ${PROJECTS_INFO_SERVICE_BASE_REST_URL}

catalog:
  user-action:
    groups-restriction:
      prefix:
        - BI-AS-ATLASSIAN
      suffix:
        - MANAGER
        - TEAM
catalog-item:
  reference:
    encoded: P2F0PXJlZnMvaGVhZHMvbWFzdGVy
provisioner:
  bitbucket:
    project-key: ${PROVISIONER_BITBUCKET_PROJECT_KEY}
    repository-slug: ${PROVISIONER_BITBUCKET_REPOSITORY_SLUG}
    sub-path: ${PROVISIONER_BITBUCKET_SUB_PATH}
    sub-path-token: ${PROVISIONER_BITBUCKET_SUB_PATH_TOKEN}
    branch-name: ${PROVISIONER_BITBUCKET_BRANCH_NAME}